<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="img/ico/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<title>index</title>

<link rel="stylesheet" href="img/sprite/sprite.css">
<link rel="stylesheet" href="css/main.css">


 <!-- Иконки на мобильные устройства -->


<!--[if lt IE 9]>
	<script>
		var e = ("article,aside,figcaption,figure,footer,header,hgroup,nav,section,time").split(',');
		for (var i = 0; i < e.length; i++) {
			document.createElement(e[i]);
		}
	</script>
<![endif]-->
