// Import Susy
@import "../../bower_components/susy/sass/_susy.scss";
// Import reset.scss
@import "../../bower_components/reset-css/_reset.scss";
// Import bourbon
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
// My variables
@import "inc/_site-variables.scss";

// font-awesome
@import "font-awesome/_variables";
@import "font-awesome/_mixins";
@import "font-awesome/_path";
@import "font-awesome/_core";
@import "font-awesome/_larger";
@import "font-awesome/_fixed-width";
@import "font-awesome/_list";
@import "font-awesome/_bordered-pulled";
@import "font-awesome/_animated";
@import "font-awesome/_rotated-flipped";
@import "font-awesome/_stacked";
@import "font-awesome/_icons";
// ++==++

@include font-face("AvenirNext", "../fonts/AvenirNext/AvenirNextLTPro-MediumCn", medium);

$susy: (
	flow: ltr,
	columns: 6,
	container-position: center,
	global-box-sizing: border-box,
	math: fluid,
	gutter-position: inside,
	output: float,
);
// Задаем фиксированное значение gutter в padding
$gutter-width: 15px;

@include bp(hd) {
	$gutter-width: 26.5px;
}
@mixin gutter-static($gutter-left:$gutter-width, $gutter-right:$gutter-width) {
	padding-left: $gutter-left;
	padding-right: $gutter-right;

	@include bp(mobile) {
		padding-left: 0;
		padding-right: 0;
	}
}
.wrapper-block {
	width: $mid-wrap;
	position: relative;
	min-width: 320px;
	@include container();

	@include bp(hd) {
		width: $big-wrap;
	}
	@include bp(mobile) {
		width: $mobile-wrap;
		padding-left: 10px;
		padding-right: 10px;
	}
}
.row {
	@include clearfix;
	margin-left: -$gutter-width;
	margin-right: -$gutter-width;

	@include bp(mobile) {
		margin-left: 0;
		margin-right: 0;
	}
}
// ++==++
// Убираем подчерк у ссылок
@mixin no-links() {
	text-decoration: none;
}

// ++==++
// Базовые значения, вынести в переменные
$g-menu-color: #c90f0f;
$g-info-menu-color: #eb2626;
$g-info-red: #ec2e2e;
$g-font-light: 300;
$g-font-regular: 400;
$g-font-bold: 500;

// Управление меню
$menuWidth: 210px;
$subMenuPosition: $menuWidth - 50px;
// ++==++

// Заголовки
h1 {
	font-size: 48px;
	line-height: 36px;
	font-weight: $g-font-light;
	margin-bottom: 40px;
}
h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: $g-font-light;
	margin-bottom: 25px;
}
h3 {
	font-size: 36px;
	line-height: 36px;
	font-weight: $g-font-regular;
	margin-bottom: 30px;
}
h4 {
	font-size: 20px;
	line-height: 24px;
	font-weight: $g-font-regular;
	margin-bottom: 20px;
}

* {
	box-sizing: border-box;
}
// ++==++

.wrapper {
	position: relative;
}

body {
	font-family: 'AvenirNext', Arial, sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}
a {
	@include transition( all .2s ease-in-out );
}
.no-mobile {
	@include bp(mobile) {
		display: none;
	}
}
.only-mobile {
	display: none;
	@include bp(mobile) {
		display: block;
	}
}
// Переменные

// Шапка сайта
.head-site {
	// Главное меню сайта
	.main-menu {
		$menu-height: 40px;
		height: $menu-height;
		line-height: $menu-height;
		$menu-color: #fe9389;
		background: $g-menu-color;
		position: relative;
		z-index: 20px;

		@include bp(mobile) {
			background: none;
			position: absolute;
			top: 20px;
			left: 0;
			width: 100%;

			.btn-enter {
				display: block;
				@include no-links;
				color: #fff;
				padding-left: 20px;
				padding-right: 20px;
			}
		}


		.main-menu__block {
			@include bp(mobile) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}


			.mobile-menu {
				display: none;
				@include bp(mobile) {
					display: block;
					position: absolute;
					z-index: 1;
					top: 0;
					right: 0;
					width: 40px;
					height: 40px;
					line-height: 40px;
					text-align: center;
					color: #fff;
					font-size: 24px;

					&.active {
						& + .main-menu__wrap {
							display: block;
							background: $g-info-menu-color;
							z-index: 2;
						}

					}
				}
			}

			.main-menu__wrap {
				@include bp(mobile) {
					position: absolute;
					top: 40px;
					left: 0;
					display: none;
					width: 100%;


				}

				.city {
					@include span(1 of 6);
					@include gutter-static;

					@include bp (mobile) {
						width: 100%;

					}

					.city__current {
						color: $menu-color;

						.city__current__location {
							padding-right: 5px;
						}

						.city__current--set {
							position: relative;
							cursor: pointer;

							&:after {
								line-height: 1;
								display: block;
								position: absolute;
								top: 0;
								left: 100%;
								content: "\f107";
								margin-left: 5px;
								font-family: "FontAwesome";
								@include transition(all ease-in-out .2s)
							}
						}

						&.active {
							.city__current--set {
								&:after {
									@include transform(rotate(180deg))
								}
							}

							& + .city__list {
								display: block;
								padding: 20px 0;
								background: $g-menu-color;
								z-index: 2;

								.city__list--get {

									a {
										@include no-links;
										color: #fff;
										font-size: 14px;
										line-height: 20px;
										color: $menu-color;
										display: block;
										padding: 5px 15px;
										@include transition(all ease-in-out .2s)

										&:hover {
											background: $g-info-menu-color;
											color: #fff;
										}
									}
								}

							}


						}
						@include bp(mobile) {
							// padding-left: 20px;
							display: none;
						}
					}
					.city__list {
						display: none;
					}
				}

				.navigation {
					@include span(4 of 6);
					@include gutter-static;

					@include bp(mobile) {
						padding-left: 0;
						padding-right: 0;
						width: 100%;
						float: none;
					}

					.navigation__ul {
						height: $menu-height;
						display: table;

						.navigation__list {
							display: table-cell;
							padding-left: 8px;
							padding-right: 8px;

							.navigation__link {
								@include no-links;
								font-size: 16px;
								display: block;
								color: $menu-color;
								@include transition(all ease-in-out .2s)

								&:hover {
									color: #fff;
								}
							}

							@include bp(mobile) {
								display: block;
								padding-left: 0;
								padding-right: 0;

								.navigation__link {
									display: block;
									padding-left: 20px;
									padding-right: 20px;
								}
							}

						}
					}
				}

				.phone {
					@include span(1 of 6);
					@include gutter-static;
					text-align: right;

					a {
						@include no-links;
						font-size: 18px;
						color: $menu-color;
					}
				}
			}
		}
	}
	// ++==++

	// Дополнительное меню сайта
	.info-menu-block {
		$info-menu-height: 40px;
		background: $g-info-menu-color;
		padding-top: 19px;
		padding-bottom: 19px;
		@include clearfix;

		@include bp(mobile) {
			.user-block__search {
				width: 40px;
				height: 40px;
				position: absolute;
				top: 0;
				right: 60px;

				a {
					@include no-links;
					color: #fff;
					font-size: 24px;
					display: block;
					line-height: 40px;
					width: 100%;
					height: 40px;
					text-align: center;
				}
			}

		}

		.logo {
			margin-right: 50px;
			float: left;
			height: $info-menu-height;

			@include bp(mobile) {
				float: none;
				margin-right: 0;
			}

			a {
				display: block;
			}
		}
		.info-menu {
			@include clearfix;

		}
		.info-menu__ul {
			float: left;
			font-size: 0;
			@include bp(mobile) {
				float: none;
				margin-top: 20px;
				margin-bottom: 20px;
			}

			.info-menu__list {
				display: inline-block;
				padding-left: 50px;

				&:first-child {
					padding-left: 0;
				}
				.info-menu__link {
					@include no-links;
					font-size: 20px;
					color: #fff;
					display: block;
					line-height: $info-menu-height;
				}

				@include bp(mobile) {
					padding: 0;
					@include span(2 of 6);
					text-align: center;

					&:first-child {
						text-align: left;
					}
					&:last-child {
						text-align: right;
						padding-right: 0;
					}
				}

			}
		}

		.user-block {
			float: right;
			font-size: 0;

			.user-block__search {
				margin-right: 30px;
				display: inline-block;

				a {
					@include no-links;
					color: #fff;
					font-size: 24px;
					line-height: $info-menu-height;
				}

			}
			.user-block__enter {
				display: inline-block;


				.btn-enter {
					@include no-links;
					display: block;
					height: $info-menu-height;
					line-height: $info-menu-height - 4px; //из-за border
					border: 2px solid #fff;
					color: #fff;
					text-align: center;
					font-size: 18px;
					padding: 0 15px;
					border-radius: 20px;
					@include transition(all ease-in-out .2s);

					&:hover {
						background: #fff;
						color: $g-info-red;
					}
				}
			}
		}
	}
	// ++==++


}

.action-block {
	$slider-color: #ecdfd3;
	background: $slider-color;
	color: #000;
	padding-top: 0;



	.action-slider {
		position: relative;
		top: 55px;

		.owl-stage-outer {
			@include bp(mobile) {
				padding-bottom: 75px;

			}

		}

		.action-slider__item {
			height: 505px;
			position: relative;


			@include bp(mobile) {
				height: auto;
			}
			.action-slider__img {
				position: absolute;
				top: 0;
				right: 0;
				width: auto;

				@include bp(mobile) {
					position: static;
					margin: 10px auto;
				}
				@include bp(mobile-xs) {
					width: auto;
					max-width: 100%;
					height: auto;
					top: auto;
					right: 0;
					left: 0;
					margin: auto;
					bottom: 70px;
				}
			}

			.action-slider__validity {
				font-size: 20px;
				margin-bottom: 80px;

				@include bp(mobile) {
					margin-bottom: 40px;
					font-size: 16px;
				}
			}

			.action-slider__name {
				word-spacing: 10000px;
				font-size: 50px;
				line-height: 1;
				margin-bottom: 80px;

				@include bp(mobile) {
					font-size: 36px;
					word-spacing: 0px;
					margin-bottom: 50px;
				}

				@include bp(mobile-xs) {
					word-spacing: 0px;
					font-size: 30px;
					margin-bottom: 40px;
				}
			}

			// Вывод старой и новой цены
			.action-slider__discount {
				$left-margin-ball: 35px;
				position: absolute;
				bottom: 0;
				right: 0;
				height: 200px;
				width: 200px;
				border-radius: 50%;
				background: #52d05d;
				z-index: 2;

				@include bp(mobile) {
					bottom: -75px;
				}

				.action-slider__discount--new {
					font-size: 0;
					margin-top: 50px;
					color: #fff;
					margin-left: $left-margin-ball;

					.action-slider__discount--rub {
						line-height: 46px;
						font-size: 56px;
						letter-spacing: 2px;
					}

					.action-slider__discount--peny {
						line-height: 58px;
						font-size: 23px;
						vertical-align: text-bottom;
						letter-spacing: 1px;
					}
				}

				.action-slider__discount--old {
					font-size: 0;
					margin-left: $left-margin-ball;
					margin-top: 10px;
					color: #0e7b2f;
					display: inline-block;
					position: relative;
					line-height: 1;

					.action-slider__discount--rub {
						font-size: 28px;
						line-height: 20px;
					}

					.action-slider__discount--peny {
						line-height: 20px;
						font-size: 16px;
						vertical-align: text-bottom;

					}

					&:after {
						content: "";
						display: block;
						width: 100%;
						height: 2px;
						background: #fff;
						position: absolute;
						top: 50%;
						margin-top: -1px;
						@include transform(rotate(-20deg));
					}
				}

				.action-slider__discount--percent {
					font-size: 24px;
					margin-top: 5px;
					text-align: right;
					margin-right: 34px;
					color: #fff;
				}

			}
			// ++==++
		}
	}

}
// ++==++
.follow-us {
	$base-color: #d9cbbc;
	$height-content: 40px;
	padding-top: 18px;
	padding-bottom: 18px;
	position: relative;
	z-index: 10;

	.follow-us__block {
			@include span(2 of 6);
			@include gutter-static();
			font-size: 0;

		.follow-us__link {
			display: inline-block;
			font-size: 20px;
			@include no-links;
			color: $base-color;
			border: 1px solid $base-color;
			border-radius: 50%;
			text-align: center;
			height: $height-content;
			width: $height-content;
			margin-left: 25px;
			line-height: $height-content - 2px;
			@include transition(all ease-in-out .2s);

			&:hover {
				color: #fff;
				border-color: transparent;
			}
			&.fa-vk:hover {
				background: #597da3;
			}

			&.fa-odnoklassniki:hover {
				background: #f58220;
			}

			&.fa-at:hover {
				background: #168de2;
			}

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.follow-us__slider-pager {
		@include span(2 of 6);
		@include gutter-static();
		text-align: center;
			line-height: 40px;


		.owl-dot {
			display: inline-block;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			border: 2px solid #ecdfd3;
			margin-left: 30px;
			cursor: pointer;

			&:first-child {
				margin-left: 0;
			}

			&.active {
				border-color: $g-info-red;
				background: $g-info-red;
			}
		}

	}
}


// Блок контента
.content {
	padding-top: 60px;
	.recipes {
		padding-bottom: 30px;
		@include linear-gradient(#fff, #f7f7f7);

		h2 {
			font-size: 28px;
		}

		.recipes-container__item {
			max-width: 320px;

			a {
				@include no-links;

				&:hover {
					.recipes-container__get-product {
						background: $g-info-red;
						color: #fff;
					}
				}
			}
			// @include gutter-static;
			@include bp(hd) {
				// padding-left: 26.5px;
				// padding-right: 26.5px;
			}

			.recipes-container__img {
				height: 176px;
				@include bp(hd) {
					height: 190px;
				}
				position: relative;

				img {
					@include border-top-radius(15px);
					max-width: 100%;
					display: block;
					max-height: 100%;

				}

				.recipes-container__price {
					position: absolute;
					bottom: -18px;
					right: 18px;
					background: #46b650;
					border-radius: 50%;
					height: 65px;
					width: 65px;
					color: #fff;
					line-height: 60px;
					text-align: center;

					.recipes-container__price--peny {
						font-size: 10px;
						vertical-align: super;
					}
				}
			}

			.recipes-container__content {
				height: 130px;
				@include bp(hd) {
					height: 160px;
				}
				background: #fff;
				padding-top: 20px;
				padding-left: 20px;
				padding-right: 20px;

				.recipes-container__tags {
					color: #ccc;
					color: rgba(0,0,0,.4);
					font-size: 14px;
					position: relative;

					&:before {
						content: "";
						background: url(../img/tag--paper.png) no-repeat;
						display: inline-block;
						width: 22px;
						height: 18px;
					}
				}

				.recipes-container__name {

					h3 {
						font-size: 20px;
						margin-bottom: 10px;
						color: #000;
					}
				}


				.recipes-container__time {
					font-size: 16px;
					color: #ccc;
					color: rgba(0,0,0,.4);
					position: relative;

					&:before {
						content: "\f017";
						font-family: "FontAwesome";
						padding-right: 2px;
					}
				}

			}

			.recipes-container__get-product {
				border-top: 1px solid #f6f7f7;

				@include border-bottom-radius(15px);
				@include transition(all ease-in-out .2s);
				background: #fff;
				display: block;
				line-height: 45px;
				text-align: center;
				color: $g-info-red;
				font-size: 16px;

			}
		}
	}
}
// ++==++

.trademarks {
	$circle-wh: 100px;
	background: #fff;
	padding-top: 55px;
	padding-bottom: 55px;

	.trademarks__container {
		min-width: 720px;
		overflow-x: hidden;

		.trademarks__container--empty {
			@include span(1 of 6);
			@include gutter-static;
			position: relative;
			text-align: center;
			font-size: 0;

			&:after {
				content: "";
				width: $circle-wh;
				height: $circle-wh;
				background: #f2f2f2;
				border-radius: 50%;
				display: inline-block;
			}
		}

		.trademarks__container--full {
			@include span(1 of 6);
			@include gutter-static;
			color: #fff;
			line-height: $circle-wh;
			position: relative;
			text-align: center;

			&:after {
				content: "";
				border-radius: 50%;
				display: inline-block;
				background: $g-info-red;
				width: $circle-wh;
				height: $circle-wh;
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -$circle-wh/2;
				z-index: 1;
			}

			.trademarks__container--num {
				font-size: 27px;
				position: relative;
				z-index: 2;
			}
		}

	}
}

.count-store {
	$element-height: 300px;
	background: #0f8433;
	height: $element-height;
		@include bp(mobile-xs) {
			height: $element-height - 50px;
		}

	.wrapper-block {
		background: url(../img/count-store--map.png) no-repeat;
		background-position: 110px 0;
		height: $element-height;
		padding-top: 80px;
		padding-left: 410px;

		@include bp(hd) {
			background-position: 250px 0;
		}
		@include bp(mobile-xs) {
			background-position: 0 0;
			padding-left: 250px;
			height: $element-height - 50px;
			background-size: contain;
		}

		.count-store__text {
			font-size: 123px;
			color: #fff;
			position: relative;
			display: inline-block;

			@include bp(mobile-xs) {
				font-size: 80px;
			}
			.ballon-store {
				position: absolute;
				top: 0;
				left: 0;
			}
			.count-store__num__store {
				color: #bdcf01;
				text-transform: uppercase;
				font-size: 24px;
				text-align: left;
			}
		}
	}
}


.loyality {
	$btn-height: 60px;

	padding: 60px 0;
	background: $g-info-red;
	color: #fff;

	.wrapper-block {
		position: relative;

		.loyality__content {
			@include span(4 of 6);
			@include gutter-static;

			@include bp(mobile) {
				width: 100%;
				float: none;
			}

			h2 {
				font-size: 50px;
				margin-bottom: 25px;
					@include bp(mobile-xs) {
						font-size: 38px;
					}
			}

			.loyality__description {
				font-size: 18px;
				line-height: 25px;
				margin-bottom: 50px;
			}

			.loyality__btn {
				a {
					@include no-links;
					color: #fff;
					font-size: 18px;
					display: inline-block;
					padding: 0 35px;
					height: $btn-height;
					line-height: $btn-height - 4px;
					border: 2px solid #fff;
					border-radius: 20px;

					@include bp(mobile-xs) {
						display: block;
						width: 100%;
						text-align: center;
					}
				}
			}
		}

		.loyality__cart {
			position: absolute;
			top: 0;
			right: 20px;
			padding: 20px;
			background: #fff;
			border-radius: 15px;
			width: 340px;
			height: 200px;

			@include bp(mobile) {
				position: static;
				margin-left: auto;
				margin-right: auto;
				margin-top: 40px;
				max-width: 100%;
			}
		}

	}

}

.footer-site {
	padding-top: 60px;
	padding-bottom: 190px;
	background: #4d4d4d;

	@include bp(mobile) {
		padding-top: 0;
		padding-bottom: 20px;
	}

	.info-menu__block {
		@include span(1 of 6);
		@include gutter-static;

		@include bp(mobile) {
			float: none;
			width: 100%;
			border-bottom: 1px solid #aaa;
		}

		.info-menu__head {
			color: #ccc;
			color: rgba(255,255,255,.4);
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 25px;
			@include bp(mobile) {
				padding: 15px 0;
				margin-bottom: 0;
				position: relative;

				&:after {
					content: "\f107";
					font-family: "FontAwesome";
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					width: 20px;
					height: 20px;
					top: 50%;
					margin-top: -10px;
					vertical-align: 20px;
					text-align: center;
					@include transition(all ease-in-out .2s);

				}

				&.active {
					& + .info-menu__submenu {
						display: block;
					}

					&:after {
						@include transform(rotate(180deg));
					}
				}
			}
		}

		.info-menu__submenu {
			li {
				margin-bottom: 10px;

				a {
					@include no-links;
					font-size: 14px;
					color: #fff;
					line-height: 15px;

				}

				&:last-child {
					margin-bottom: 0;
				}
				padding-bottom: 15px;
			}

			@include bp(mobile) {
				display: none;
			}
		}
	}

	.info-menu__contacts {
		@include span(1 of 6);
		@include gutter-static;

		@include bp(mobile) {
			float: none;
			width: 100%;
			margin-top: 20px;
		}

		.info-menu__contacts__logo {
			margin-bottom: 20px;
		}

		.info-menu__contacts__content {

			p {
				white-space: nowrap;
				color: #ccc;
				color: rgba(255,255,255,.4);
				font-size: 16px;
				margin-bottom: 15px;

			}
			a {
				@include no-links;
				color: #ccc;
				color: rgba(255,255,255,.4s);
			}
		}
	}
}


// Карусель акций
.recipes-container {

	&.owl-carousel .owl-stage-outer {
		overflow: visible!important;

		.owl-item {
			margin-right: 0!important;
		}
	}
}